<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ PAGE_TITLE }}</title>
    <link
        rel="icon"
        type="image/png"
        href="https://nekoweb.org/assets/meow.png"
    />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/wiki-onionring.css" />
    <meta property="og:type" content="{{ PAGE_TYPE }}" />
    <meta property="og:title" content="{{ PAGE_TITLE }}" />
    {% if PAGE_DESC %}
    <meta property="og:description" content="{{ PAGE_DESC }}" />
    {% else %}
    <meta property="og:description" content="{{ PAGE_TITLE }}" />
    {% endif %}
    <meta property="og:site_name" content="Nekoweb Wiki" />
  </head>
  <body>
    <div class="container">
      <div class="navbar" role="banner">
        <div class="logo">
          <img src="/wiki-logo-new.png" alt="Wiki logo" />
        </div>
        <nav>
          <strong>Navigation</strong>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/pages.html">Index</a></li>
            <li><a href="/about.html">About</a></li>
          </ul>
        </nav>
        <nav>
          <strong>Editing</strong>
          <ul>
            <li>
              <a
                href="{{SourcePrefix}}{{Source}}{{SourceSuffix}}"
              />Edit on GitHub</a>
            </li>
          </ul>
        </nav>
        <nav>
          <strong>Community</strong>
          <ul>
            <li><a href="https://discord.gg/f4b4e2Nudk">Discord</a></li>
            <li><a href="https://wiki.atabook.org/">Guestbook</a></li>
            <li><a href="{{CODE_REPOSITORY}}">GitHub</a></li>
          </ul>
        </nav>
        <div id="nekowebring">
          <script
            type="text/javascript"
            src="https://webring.nekoweb.org/onionring-variables.js"
          ></script>
          <script
            type="text/javascript"
            src="https://webring.nekoweb.org/onionring-widget.js"
          ></script>
        </div>
      </div>
      <main class="main">{% block main %}{% endblock %}</main>
    </div>
  </body>
</html>
