<!--
Copyright 2024 Nekoweb Wiki

The design and source code of this website are available under the
BSD 3-Clause license. You can find a copy of it here.

    https://opensource.org/license/BSD-3-Clause

Otherwise, a copy of this license can be found in the root directory
of the website source code:

    https://github.com/nekowebwiki/wikigen
-->
<!DOCTYPE html>
<html lang="{{LANG}}">
  <head>
    {% block head %}
    <title>{{ PAGE_TITLE }}</title>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/wiki-onionring.css" defer="defer" />
    <link rel="stylesheet" href="/code.css" defer="defer" />
    <link rel="stylesheet" href="/highlight.css" defer="defer" />
    <link
        rel="stylesheet"
        href="/mobile.css"
        media="screen and (max-width: 600px)"
    />
    <meta property="og:type" content="{{ PAGE_TYPE }}" />
    <meta property="og:title" content="{{ PAGE_TITLE }}" />
    {% if PAGE_DESC %}
    <meta property="og:description" content="{{ PAGE_DESC }}" />
    {% else %}
    <meta property="og:description" content="{{ PAGE_TITLE }}" />
    {% endif %}
    <meta property="og:site_name" content="Nekoweb Wiki" />
    {% endblock %}
  </head>
  <body>
    <input type="checkbox" id="show-nav" />
    <div class="container">
      <div class="navbar" role="banner">
        <div class="logo">
          <img
            src="/logo.png"
            width="140"
            height="96"
            alt="Nekoweb Wiki"
          />
        </div>
        <nav>
          <strong>Navigation</strong>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/pages.html">Index</a></li>
            <li><a href="/about.html">About</a></li>
          </ul>
        </nav>
        {% if ShowPageInfo %}
        <nav>
          <strong>Page</strong>
          <ul>
            <li>
              <a
                href="{{SourcePrefix}}{{Source}}{{SourceSuffix}}"
              />Source</a>
            </li>
            <li>
              <a
                href="{{CommitsPrefix}}{{Source}}{{CommitsSuffix}}"
              />History</a>
            </li>
          </ul>
        </nav>
        {% endif %}
        <nav>
          <strong>Community</strong>
          <ul>
            <li>
              <iframe
                src="https://nekoweb.org/frame/follow"
                frameborder="0" width="100%" height="35"
              ></iframe>
            </li>
            <li><a href="https://discord.gg/f4b4e2Nudk">Discord</a></li>
            <li><a href="/guestbook.html">Guestbook</a></li>
            <li><a href="{{CODE_REPOSITORY}}">GitHub</a></li>
          </ul>
        </nav>
        <div id="nekowebring">
          <script
            type="text/javascript"
            src="https://webring.nekoweb.org/onionring-variables.js"
          ></script>
          <script
            type="text/javascript"
            src="https://webring.nekoweb.org/onionring-widget.js"
          ></script>
        </div>
        <center style="margin-top:5px">
            <a href="/copying.html">
                <img src="/CC_BY-SA.svg" width="100" />
            </a>
        </center>
      </div>
      <main class="main">{% block main %}{% endblock %}</main>
    </div>
  </body>
</html>
