:root {
    --primary-color: #fff;
    --primary: #152936;
    --secondary: #244257;
    --link: #1f384a;

    --link-navbar-hover: #28465c;
    --layout-switch: #1f384a;
    
    --mobi-nav-border: #045590;
    --mobi-nav-tog-bg: #000;
    
    --bg-img: url(/background-dark.png);

    --scroll-rgb: 21,41,54;
    --scroll2: #56a5a5aa;
    --scroll-less: rgba(var(--scroll-rgb), 170);
    --scroll: rgb(var(--scroll-rgb));
}
